.Header{
    display: flex;
    justify-content: space-around;
}

.nav-menu{
    display: flex;
    gap: 30px;
    list-style: none;
    padding-left: 0;
}

.logo{
    width: 208px;
    height: 59px;
}

@media(width < 768px){
    .Header{
        flex-direction: column;
        align-items: center;
    }
    .nav-menu{
        flex-direction: column;
        text-align: center;
    }
    .logo{
        text-align: center;
    }
}