.section-header{
    display: flex;
    justify-content: space-evenly;
    background-color: #495E57;
    gap: 10px;
    margin: 10px 0;
}

.Jumbotron-article{
    max-width: 300px;
}

.jumbo-img-container{
    max-width: 300px;
    width: 100%;
    height: 450px;
    position: relative;
}

.jumbo-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    position: relative;
    margin-top: 20px;
    border-radius: 10px;
}


@media (width < 768px) {
    .section-header {
        flex-direction: column;
        align-items: center;
    }
    .Jumbotron-article{
        text-align: center;
    }
}